{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home/home.css') }}">
{% endblock %}
{% block body %}
    {{ parent() }}

    <div id="userInfo">
        <ul>
            <li>
                <h1><b><u>User Details</u></b></h1>
                <div class='detailsDiv' id="userDetails">
                    <div id="numberDiv">
                        <label class="usrLbl" id="numberLbl">Number: {{ userDetails['number'] }}</label>
                        <label id="number"></label>
                    </div>
                    <div id="rankDiv">
                        <label class="usrLbl" id="rankLbl">Rank: {{ userDetails['rank'] }}</label>
                        <label id="rank"></label>
                    </div>
                    <div id="firtNameDiv">
                        <label class="usrLbl" id="firstNameLbl">First Name: {{ userDetails['first_name'] }}</label>
                        <label id="firstName"></label>
                    </div>
                    <div id="lastNameDiv">
                        <label class="usrLbl" id="lastNameLbl">Last Name: {{ userDetails['last_name'] }}</label>
                        <label id="lastName"></label>
                    </div>
                    <div id="detDiv">
                        <label class="usrLbl" id="detachmentLbl">Detachment: {{ userDetails['detachment'] }}</label>
                        <label id="detachment"></label>
                    </div>
                    <div id="coyDiv">
                        <label class="usrLbl" id="companyLbl">Company: {{ userDetails['company'] }}</label>
                        <label id="company"></label>
                    </div>
                    <div id="battalionDiv">
                        <label class="usrLbl" id="battalionLbl">Battalion: {{ userDetails['battalion'] }}</label>
                        <label id="battalion"></label>
                    </div>
                </div>
            </li>
            <li>
                <h1><b><u>Detachment Details</u></b></h1>
                <div class='detailsDiv' id="detDetails">
                    <div id="unitDiv">
                        <label class="usrLbl" id="unitLbl">Affiliation: {{ detachmentDetails['affiliation'] }}</label>
                        <label id="unit"></label>
                    </div><div id="dcDiv">
                        <label class="usrLbl" id="dcLbl">Det Commander: {{ detachmentDetails['dc'] }}</label>
                        <label id="dc"></label>
                    </div>
                    <div id="2icDiv">
                        <label class="usrLbl" id="2icLbl">Det 2IC: {{ detachmentDetails['2ic'] }}</label>
                        <label id="2ic"></label>
                    </div>
                    <div id="instDiv">
                        <label class="usrLbl" id="instLbl">No Instructors: {{ detachmentDetails['instructors'] }}</label>
                        <label id="inst"></label>
                    </div>
                    <div id="cdtDiv">
                        <label class="usrLbl" id="cdtLbl">No. Cadets: {{ detachmentDetails['cadets'] }}</label>
                        <label id="cdt"> </label>
                    </div>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}