{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login/login.css') }}">
{% endblock %}

{% block javascript %}
    {{  parent() }}
    <script type="text/javascript" src="{{ asset('js/login/login.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="loginForm">
        <img id="acfLogo" src="{{ asset('images/ACF_Logo.png') }}">
        <form id="form" action="login.php">
            <input type="text" id="username" size="20" maxlength="20" placeholder="Username">
            <input type="password" id="password" size="20" maxlength="20" placeholder="Password">
            <input type="submit" id="submit" value="Login">
        </form>
    </div>
{% endblock %}