{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login/login.css') }}">
{% endblock %}

{% block javascript %}
    {{  parent() }}
    <script type="text/javascript" src="{{ asset('js/login/login.js') }}"></script>
{% endblock %}

{% block body %}
    {% for user in users %}
        <ul>
            {% for col in user %}
                <li>col</li>
            {% endfor %}
        </ul>
    {% endfor %}
    {{ usersId }}
{% endblock %}